h2,
h3,
p {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

p {
  text-align: center;
  padding: 0 0 30px 0;
}

form {
  padding: 80px 0px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo {
  display: inline-block;
  padding: 10px;
  margin-bottom: 42px;
  margin-left: 5px;
  max-height: 120px;
}

.nav-active {
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  color: #000000;
  font-size: 18px;
}

.btn {
  background-color: #aaa;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
  border-color: #aaa;
  padding: 5px 8px;
}
.btn:hover {
  background-color: #444444;
  border-color: #444444;
}
.form-check {
  margin-left: 35%;
  color: #444444;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}

.jumbotron {
  margin: 0 0 36px 0;
}

.badge {
  border: #000000;
  border-style: ridge;
  border-radius: 400px;
  padding: 25px 10px;
  font-size: 18px;
}

.forecast {
  color: #000000;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.date {
  font-size: 18px;
}

.recommendation {
  font-style: italic;
  font-size: 12px;
}

.weather-current,
.weather-today {
  margin: 45px 0 0 0;
  text-shadow: 1px 1px #000000;
}

.weather-current {
  font-size: 32px;
}

.weather-today {
  font-size: 24px;
}
#questionAsk {
  padding-top: 120px;
}

.city-display {
  font-size: 60px;
  letter-spacing: 20px;
  text-shadow: 1px 1px #000000;
  text-align: center;
}
